//Primary colors
$primary:#b4559c;
$on-primary:#FFFFFF;
$primary-container:#E3BFDA;
$on-primary-container:#7A3569;
//Secondary colors
$secondary:#BB82AC;
$on-secondary:#FFFFFF;
$secondary-container:#E6D0E0;
$on-secondary-container:#9E568B;
//Tertiary colors
$tertiary:#C378AE;
$on-tertiary:#FFFFFF;
$tertiary-container:#EFDAE9;
$on-tertiary-container:#C378AE;
//Background & Surface colors
$background:#F6F4F5;
$on-background:#9B8895;
$surface:#F6F4F5;
$on-surface:#9B8895;
//Surface variant & Outline colors
$surface-variant: #CECECE;
$on-surface-variant:#313131;
$outline:#8D8D8D;
$outline-variant:#BEBEBE;
//Error colors
$error:#DF4C44;
$on-error:#FFFFFF;
$error-container:#F3BCB9;
$on-error-container:#B3261E;
//Success colors
$success:#42F09C;
$on-success:#FFFFFF;
$success-container:#B8F9DA;
$on-success-container:#11D677;
//Info colors
$info:#3CD0E7;
$on-info:#FFFFFF;
$info-container:#B6EDF6;
$on-info-container:#17A2B8;
//Warning colors
$warning:#FFD249;
$on-warning:#FFFFFF;
$warning-container:#FFEEBB;
$on-warning-container:#FFC107;
//Custom Gradient Colors
//Gradient Colors
$gradient-1:#c15983 .84;
$gradient-2:#3A316E;
//On Gradient Color
$on-gradient:#ffffff;
// Gradient Container Colors
$gradient-container-1:#F38BB5 .84;
$gradient-container-2:#3A316E;
//On Gradient Container Colors
$on-gradient-container-1:#A33B65 .84;
$on-gradient-container-2:#3A316E;

//Image Overlay
$image-overlay:rgba($color: #DBDB4E, $alpha: 0.34);



